USE [master]
GO
/****** Object:  Database [MyBusinessData]    Script Date: 13/9/2023 00:00:05 ******/
CREATE DATABASE [MyBusinessData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MybusinessData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MybusinessData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MybusinessData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MybusinessData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyBusinessData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyBusinessData]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 13/9/2023 00:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[lastName] [varchar](100) NULL,
	[surName] [varchar](100) NULL,
	[email] [varchar](300) NULL,
	[gender] [varchar](1) NULL,
	[createDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([id], [name], [lastName], [surName], [email], [gender], [createDate]) VALUES (1, N'Cordell', N'Cosins', N'Purkis', N'cpurkis0@privacy.gov.au', N'M', CAST(N'2022-09-16T00:00:00.000' AS DateTime))
INSERT [dbo].[Employee] ([id], [name], [lastName], [surName], [email], [gender], [createDate]) VALUES (2, N'Davon', N'Grimbaldeston', N'Waleran', N'dwaleran1@vk.com', N'M', CAST(N'2022-10-30T00:00:00.000' AS DateTime))
INSERT [dbo].[Employee] ([id], [name], [lastName], [surName], [email], [gender], [createDate]) VALUES (3, N'Jaime', N'Barthelmes', N'Bessent', N'jbessent2@census.gov', N'M', CAST(N'2022-08-28T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
USE [master]
GO
